* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #141414;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  margin: -10px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: -10px;
 margin-bottom: -7px; 
}

li a {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

div.gallery {
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 5px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

@media only screen and (max-width: 1500px) {
  .responsive {
    width: 32.99999%;
    margin: 6px 0;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.headers {
 margin-top: 7px;
 margin-bottom: -7px;
}

.headline {
 margin-bottom: -3px;
}

.subhead {
  margin-bottom: 3px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

p.m {
  text-align: center;
  font-size: 150%;
}